<div class="collapsible collapsible--expanded">
  <header class="collapsible__header">
    <h2 class="collapsible__heading">Item1</h2>
    <span class="icon-container">
      <img class="collapsible__chevron" src="images/chevron.svg" alt="" />
    </span>
  </header>
  <div class="collapsible__content">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit, magni.
  </div>
</div>
<div class="collapsible collapsible--expanded">
  <header class="collapsible__header">
    <h2 class="collapsible__heading">Item1</h2>
    <span class="icon-container">
      <img class="collapsible__chevron" src="images/chevron.svg" alt="" />
    </span>
  </header>
  <div class="collapsible__content">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit, magni.
  </div>
</div>
<script src="js/main.js"></script>
