<section class="block block--dark footer">
  <div class="container grid footer__sections">
    <section class="collapsible collapsible--expanded footer__section">
      <header class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">PRODUCTS</h2>
        <span class="icon--small">
          <img class="collapsible__chevron" src="images/chevron.svg" alt="" />
        </span>
      </header>
      <div class="collapsible__content">
        <ul class="list">
          <li class="list"><a class="link" href="#">Website Hosting</a></li>
          <li class="list"><a href="#">Free Automated Wordpress</a></li>
          <li class="list"><a href="#">Migrations</a></li>
        </ul>
      </div>
    </section>
    <section class="collapsible footer__section">
      <header class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">COMPANY</h2>
        <span class="icon--small">
          <img class="collapsible__chevron" src="images/chevron.svg" alt="" />
        </span>
      </header>
      <div class="collapsible__content">
        <ul class="list">
          <li class="list"><a href="#">About</a></li>
          <li class="list"><a href="#">Affiliates</a></li>
          <li class="list"><a href="#">Blog</a></li>
        </ul>
      </div>
    </section>
    <section class="collapsible footer__section">
      <header class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">SUPPORT</h2>
        <span class="icon--small">
          <img class="collapsible__chevron" src="images/chevron.svg" alt="" />
        </span>
      </header>
      <div class="collapsible__content">
        <ul class="list">
          <li class="list"><a href="#">Contact</a></li>
          <li class="list"><a href="#">Knowledge Base</a></li>
          <li class="list"><a href="#">FAQ</a></li>
        </ul>
      </div>
    </section>
    <section class="collapsible footer__section">
      <header class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">DOMAINS</h2>
        <span class="icon--small">
          <img class="collapsible__chevron" src="images/chevron.svg" alt="" />
        </span>
      </header>
      <div class="collapsible__content">
        <ul class="list">
          <li class="list"><a href="#">Domain Checker</a></li>
          <li class="list"><a href="#">Domain Transfer</a></li>
          <li class="list"><a href="#">Free Domain</a></li>
        </ul>
      </div>
    </section>
    <section class="footer__brand">
      <img class="footer_logo" src="images/logo.svg" alt="" />
      <p class="footer__copyright">Copyright 2020 Mosh Hamedani</p>
    </section>
  </div>
</section>
<script src="js/main.js"></script>
